ul.socialMedia{
    width: 100%;
    margin: 10px;
    flex-wrap: wrap;
    li{
        padding: 10px;
        a{
            
            font-size: 200%;
            .fa{
                padding: 5px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                color: white;
            }
            .fa-instagram{
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
 
            }
            .fa-whatsapp{
                background-color: #128C7E;
            }
            .fa-envelope{
                background-color: #1b83b8;
            }
            .fa-phone{
                background-color: #282829;
            }
            .fa-telegram{
                background-color: #0088cc;
            }
            .fa-twitter{
                background-color: #1da1f2;
            }
            .fa-youtube{
                background-color: #f00;
            }
        }
    }
}