$GreenColor : #0e842a;
$BlackColor: #121212;
$bgColor:#e8e8e8;
$whiteColor:#ffffff;
$blueColor:#0d71ce;
$GrayColor: #babcbf;
$FooterColor:#373636;
$warningColor:#f77700;
$dangerColor:#dd1010;
$url:"http://localhost:3000";
$mobileW : 464px;
$tabletW : 800px;
$tabletW2 : 1024px;
