$bg-nav:#efefef;
$font-color:#3a3a3afa;
div.nav{
    width: 100%;
    height: 50px;
    background-color: $bg-nav;
    box-shadow: 1px 0 5px #3333;
    position: fixed;
    top: 0;
    right: 0;
    ul{
        list-style: none;
        display: flex;
        width: 45%;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        li{
            font-size: large;
            a{
                font: {
                    size: 1.1rem;
                    family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                transition: color 0.3s ease;
                color:$font-color ;
                &:hover{
                    color: red;
                }
            }
        }
    }
}

.br{
    background-color: red;
    width: 100%;
    height: 500px;
}
.item{
    width: 80%;
    margin: auto;
    height: 100px;
    background-color: green;
}