@import"../Variabale";

.footerContainer{
    .footerCopy{
        background-color: $FooterColor;
        color: $whiteColor;
        padding: 20px;
        @media (max-width: $mobileW) {
            h4{
                font-size: 70%;
                font-weight: 400;
            }
        }
    }
    .footerColumsContainer{
        background-color: $GrayColor;
        align-items: stretch;
        @media (max-width: $tabletW) {
            flex-flow: row wrap;
        }
        @media (max-width: $mobileW) {
            flex-direction: column;
        }
        .column.item{
            border-right: 10px solid $bgColor;
            justify-content: flex-start;
            width: calc(25% - 5px);
            padding: 10px;
            &:nth-child(1){
                border-right: none;
            }
            @media (max-width: $tabletW) {
                width:50%;
                padding: 10px;
                border-right: 3px solid $bgColor;
                &:nth-child(1){
                    border-right: none;
                }
                &:nth-child(3){
                    border-right: none;
                }
                border-bottom: 3px solid $bgColor;
            }
            @media (max-width: $mobileW) {
                width:100%;
                padding: 10px;
                border-right:0;
                border-bottom: 3px solid $bgColor;
            }
            h3{
                text-align: right;
                width: 100%;
                margin: 0 5px 5px 5px;

            }

            .weblogItems{
                
                    width: 100%;
                    li{
                        margin: 5px auto;
                        width: 100%;
                        border-radius: 5px;
                        background-color: $whiteColor;
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding:2px 5px;
                            span{
                                width: auto;
                                padding: 5px;
                                color: $BlackColor
                            }
                            img{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                margin-left:5px;
                            }
                        }
                    }
                
            }

            .shopLink{
                width: 100%;
                padding: 10px;
                li{
                    margin:10px;
                    a{
                        color: $BlackColor;
                        font-size: 120%;
                    }
                }
            }


        }
    }
    @media (max-width: $navBottom) {
        padding-bottom:7vh;
    }
}