@import'components/Variabale';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline; 
    direction: rtl;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1;
    background-color:$bgColor ;
    min-height: 100vh;
  }
  img{
    width: 100%;
    height: auto;
  }
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .column{
    display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content: center;
  }
h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 21px;
}
h5{
  font-size: 19px;
}
h6{
  font-size: 16px;
}
.mainBox{
  background-color: $whiteColor;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #3333 ;
  margin: 20px auto;
  h2{
    width: 100%;
    margin: 20px;
  }
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #3333339c;
  padding: 5px 8px;
  font-size: 120%;
  margin:5px;
  cursor: pointer;
  &:active {
    box-shadow:none;
    transform: translate(1px,1px);
  }
}
.btn-info{
  @extend .btn;
  background-color:$blueColor ;
  color: $whiteColor;
}
.btn-success{
  @extend .btn;
  background-color:$GreenColor ;
  color: $whiteColor;
}
.btn-warning{
  @extend .btn;
  background-color:$warningColor ;
  color: $BlackColor
}
.btn-danger{
  @extend .btn;
  background-color:$dangerColor ;
  color: $whiteColor
}
.react-multi-carousel-list{
  direction: ltr;
}
